<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- 开启注解扫描，只扫controller包，才能识别标注注解的类，其他不在责任之内 -->
    <!-- <context:component-scan base-package="com.spring.controller"></context:component-scan> -->
    <context:component-scan base-package="com.spring"><!-- 只扫描com.spring包 -->
        <!-- 只扫描@Controller注解 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <!-- 只不扫描@Controller注解 -->
        <!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.FARController"/> -->
    </context:component-scan>

</beans>