<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    <!-- 开启组件扫描，只扫controller包，才能识别标注注解的类，其他不在责任之内 -->
    <!-- <context:component-scan base-package="com.spring.controller"></context:component-scan> -->
    <context:component-scan base-package="com.spring"><!-- 只扫描com.spring包 -->
        <!-- 只扫描@Controller注解 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <!-- 只不扫描@Controller注解 -->
        <!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.FARController"/> -->
    </context:component-scan>
    
    
    <!-- 配置内部资源视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <!-- 配置后缀 -->
        <property name="suffix" value=".jsp"></property>
    </bean>
    
    
    <!-- 配置处理器适配器 -->
    <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"> -->
    <!--    <property name="messageConverters"> -->
    <!--        <list> -->
    <!--            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean> -->
    <!--        </list> -->
    <!--    </property> -->
    <!-- </bean> -->
    
    <!-- 配置注解驱动，配置这个集成了上面的配置，开发项目前首先配置这个 -->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
    
    
    <!-- 开启静态资源访问，可以配置多个 -->
    <mvc:resources location="/webjars/" mapping="/webjars/**"/>
    
    <!--
        同下，释放所有静态资源
        location：项目中的路径（此时”/“代表项目根路径）
        mapping:对应的请求映射（/** 多级路径，此时就是什么路径都会匹配到项目的根路径）
    -->
    <!-- <mvc:resources location="/" mapping="/**"/> -->
    <!--
        配置静态资源的访问映射，释放所有静态资源
    -->
    <!-- <mvc:default-servlet-handler/> -->
    
    
    <!-- 声明转换器，需要在注解驱动中引用 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <!-- 可以配置多个转换器，所以是list -->
            <list>
                <bean class="com.spring.converter.DateConverter"></bean>
            </list>
        </property>
    </bean>
    
    
    <!-- 配置文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 上传文件大小上限，单位为字节 -->
        <property name="maxUploadSize" value="5242800"></property>
        <!-- 上传单个文件的大小 -->
        <property name="maxUploadSizePerFile" value="5242800"></property>
        <!-- 上传文件的编码格式，必须与JSP中的pageEncoding属性一致，默认值为ISO-8859-1 -->
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>


</beans>