<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <mvc:annotation-driven/>
    
    <!-- 视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    
    <!-- 释放所有静态资源 -->
    <!-- <mvc:default-servlet-handler></mvc:default-servlet-handler> -->
    
    <!-- 注解扫描 -->
    <context:component-scan base-package="com.spring"></context:component-scan>
    
    
    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 定义在<mvc:interceptors>内的自定义拦截器是全局拦截器，拦截所有的请求路径 -->
        <!-- <bean class="com.spring.interceptor.CustomInterceptor"></bean> -->
        
        <!-- 可以配置多个拦截器 -->
        <!-- 里面的元素必须严格遵守 <mvc:mapping/> -> <mvc:exclude-mapping/> -> <bean/> 的顺序编写 -->
        <mvc:interceptor>
            <!-- 配置拦截路径，拦截指定的请求路径，这里是拦截所有的请求路径 -->
            <mvc:mapping path="/**"/>
            <!-- 配置不需要拦截的请求路径 -->
            <mvc:exclude-mapping path="/"/>
            
            <!-- 定义在<mvc:interceptor>内的拦截器是局部拦截器，拦截指定的请求路径 -->
            <bean class="com.spring.interceptor.CustomInterceptor"/>
        </mvc:interceptor>
    
    </mvc:interceptors>
    
    
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 只拦截访问主页的请求路径 -->
            <mvc:mapping path="/toindex"/>
            
            <bean class="com.spring.interceptor.MainInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>